html {
  font-size: 22px;
}
* {
  /* border: 1px solid white; */
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
}
h1,
h2,
h4,
figcaption {
  opacity: 0.7;
  text-align: center;
}
header {
  overflow: hidden;
}
header nav {
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 10;
  background-color: rgb(0, 0, 0);
}
header img {
  max-height: 50px;
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}
header ul {
  float: right;
}
header nav ul li {
  display: inline-block;
  margin-right: 0.7rem;
}
header nav ul li a {
  color: seashell;
  opacity: 0.7;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #bada55;
  opacity: 0.8;
}
@media only screen and (max-width: 900px) {
  header nav ul li {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px) {
  .menu {
    display: none;
  }
}

/* ************ OUR MISSION SECTION ******************* */
#mission {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 700px;
  background-image: url("../images/img-mission-background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mission article {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#mission article h4 {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5;
}
@media only screen and (max-width: 576px) {
  #mission article h4 {
    font-size: 0.8rem;
  }
}

/* *********** FEATURED TEA SECTION ***************** */

#featured {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
}
.image-container {
  max-width: 1000px;
  height: auto;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  flex-wrap: wrap;
}
.image-container figure {
  max-width: 300px;
  height: auto;
  margin: 0.5rem;
  /* border: 1px solid red; */
}
.image-container figcaption {
  margin-top: 0.8rem;
  font-weight: bold;
}
.image-container figure img {
  width: 100%;
  height: auto;
  display: block;
}
@media only screen and (max-width: 644px) {
}
/* **************** LOCATION SECTION ************** */
#location {
  max-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 2rem;
  background-image: url("../images/img-locations-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/* .filter {
  max-width: 1200px;
  height: 500px;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  z-index: 10;
  opacity: 0.5;
} */

.container {
  max-width: 1200px;
  height: 500px;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
  margin: 1rem;
}
#location article {
  width: 300px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  opacity: 0.8;
  /* margin-left: 2.2rem; */
  padding: 0.5rem;
  margin: 1rem;
}
.container h2 {
}
@media only screen and (max-width: 750px) {
  .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
  }
  #location article {
    width: 200px;
  }
}
@media only screen and (max-width: 577px) {
  #location article {
    width: 300px;
  }
}

/* ************** FOOTER ***************** */
footer {
  width: 100%;
  height: 200px;
  background-color: rgb(0, 0, 0);
  margin-top: 2rem;
}
footer address {
  text-align: center;
}
footer p {
  text-align: left;
  margin-left: 2rem;
  font-size: 0.6rem;
}
.number {
  text-align: center;
  font-size: 1rem;
}
@media only screen and (max-width: 576px) {
  footer p {
    text-align: center;
  }
}
